@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4><span class="underLine">Add A New Machine</span></h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required"})
  @Html.LabelFor(model => model.Operational)
  @Html.CheckBoxFor(model => model.Operational)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId", "-select-")

  <input type="submit" value="Add New Machine" class="btn btn-outline-success" />
}
<div class="flex">
  @Html.ActionLink("Show All Machines", "Index", "Machines", null, new {@class = "btn btn-outline-dark"})
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-outline-dark"})
</div>